//-
//- index.jade -- ARTICLES LISTING
//-

include ../_common.jade

.article-listing
	for post, slug in public.blog._data
		unless post.excludeFromLists
			+o_postSummary(post, slug, current.path[0])